// - This application should look good, take some time to pick a palette and plan out your design. You can use tools like Figma or wireframe pro to plan what your application is going to look like.
// - Styling must use BEM, and each block should have its own SCSS file
// - Your palette should use variables

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 1fr 1fr 300px 300px;
  grid-template-areas:
    "head search searchbtn clearbtn"
    ". howto . . "
    ". result result ."
    ". result result ."
    ". result result ."
    ". result result .";
}

.howto {
  grid-area: howto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bookContainer__results {
  grid-area: result;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: search;
  &__input {
    margin: 10px;
    height: 25px;
    width: 200px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid black;
    text-shadow: 0px 0px 0px transparent;
  }
}

.search {
  grid-area: searchbtn;
  display: flex;
  align-items: center;
  justify-content: center;
  &__btn {
    margin: 10px;
    height: 25px;
    width: 200px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid black;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
  }
}

.clear {
  grid-area: clearbtn;
  display: flex;
  align-items: center;
  justify-content: center;
  &__btn {
    margin: 10px;
    height: 25px;
    width: 200px;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid black;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
  }
}

.bookDiv {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 700px;
  border: 1px solid black;
  font-size: smaller;
  overflow: scroll;
  &__image {
    width: 150px;
    height: 220px;
  }
}
